*	-text
*.java	diff=java
*.c	diff=cpp
*.h	diff=cpp
*.cpp	diff=cpp
*.hpp	diff=cpp
*.md	diff=markdown
*.sh	diff=bash
*.html	diff=html
*.css	diff=css
*.html linguist-detectable=false
*.java linguist-detectable=false
*.class linguist-detectable=false
*.xml linguist-detectable=false
*.m4 linguist-detectable=false
*.css linguist-detectable=false
